config SHIELD_MIRA
	def_bool $(shields_list_contains,Mira)

config SHIELD_MIRA_LEFT
	def_bool $(shields_list_contains,Mira_Left)

config SHIELD_MIRA_RIGHT
	def_bool $(shields_list_contains,Mira_Right)