#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define COMBO_TIMEOUT 100
#define MACRO_TAP 10
#define MACRO_WAIT 0

#define P_S 7
#define P_T 2
#define P_P 3
#define P_H 4
#define P_K 8
#define P_W 9
#define P_R 10

/ {
        combos {
                compatible = "zmk,combos";
                combo_the {
                        layers = <2>;
                        timeout-ms = <50>;
                        key-positions = <P_S>;
                        bindings = <&kp I>;
                };
        };

        keymap {
		compatible = "zmk,keymap";

                base0 {
                        bindings = <
                                &kp A &kp B &kp C &kp D &kp E &kp F
                                &kp G &kp H &kp I &kp J &kp K &kp L
                                &kp M &kp N &kp O
                                &kp P &kp Q &kp R
                        >;
                };
        };
};

/ {
        behaviors {
                dvpdllr: dvp_dllr {
                        compatible = "zmk,behavior-mod-morph";
                        #binding-cells = <0>;
                        bindings = <&kp DLLR>, <&kp TILDE>;
                        mods = <(MOD_LSFT)>;
                };
                dvpamps: dvp_amps {
                        compatible = "zmk,behavior-mod-morph";
                        #binding-cells = <0>;
                        bindings = <&kp AMPS>, <&kp PRCNT>;
                        mods = <(MOD_LSFT)>;
                };
                dvplbkt: dvp_lbkt {
                        compatible = "zmk,behavior-mod-morph";
                        #binding-cells = <0>;
                        bindings = <&kp LBKT>, <&kp N7>;
                        mods = <(MOD_LSFT)>;
                };
                dvplbrc: dvp_lbrc {
                        compatible = "zmk,behavior-mod-morph";
                        #binding-cells = <0>;
                        bindings = <&kp LBRC>, <&kp N5>;
                        mods = <(MOD_LSFT)>;
                };
                dvprbrc: dvp_rbrc {
                        compatible = "zmk,behavior-mod-morph";
                        #binding-cells = <0>;
                        bindings = <&kp RBRC>, <&kp N3>;
                        mods = <(MOD_LSFT)>;
                };
                dvplpar: dvp_lpar {
                        compatible = "zmk,behavior-mod-morph";
                        #binding-cells = <0>;
                        bindings = <&kp LPAR>, <&kp N1>;
                        mods = <(MOD_LSFT)>;
                };
                dvpequal: dvp_equal {
                        compatible = "zmk,behavior-mod-morph";
                        #binding-cells = <0>;
                        bindings = <&kp EQUAL>, <&kp N9>;
                        mods = <(MOD_LSFT)>;
                };
        };
};
