#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
	keymap {
		compatible = "zmk,keymap";

        default_layer {
        	bindings = <
		// |---------|---------|---------|---------|---------|---------|         |---------|---------|---------|---------|---------|---------|
		// |    a    |    b    |    c    |    d    |    e    |    f    |         |    g    |    h    |    i    |    j    |    k    |    l    |
			&kp a     &kp b     &kp c     &kp d     &kp e     &kp f               &kp g     &kp h     &kp i     &kp j     &kp k     &kp l
		// |---------|---------|---------|---------|---------|---------|         |---------|---------|---------|---------|---------|---------|
		// |    m    |    n    |    o    |    p    |    q    |    r    |         |    s    |    t    |    u    |    v    |    w    |    x    |
			&kp m     &kp n     &kp o     &kp p     &kp q     &kp r               &kp s     &kp t     &kp u     &kp v     &kp w     &kp x
		// |---------|---------|---------|---------|---------|---------|         |---------|---------|---------|---------|---------|---------|
		//                               |    y    |    z    |    0    |         |    1    |    2    |    3    |
			                              &kp y     &kp z     &kp 0               &kp 1     &kp 2     &kp 3
		//                               |---------|---------|---------|         |---------|---------|---------|
		//                               |    4    |    5    |    6    |         |    7    |    8    |    9    |
			                              &kp 4     &kp 5     &kp 6               &kp 7     &kp 8     &kp 9
		//                               |---------|---------|---------|         |---------|---------|---------|
            >;
        };
    };
};